<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.foxbpm.bpmn.designer.ui.category"
            class="org.foxbpm.bpmn.designer.ui.actor.definition.ActorConnectorWizardCreationWizard"
            icon="icons/fox.ico"
            id="org.foxbpm.bpmn.designer.ui.wizard1"
            name="创建选择器">
      </wizard>
      <wizard
            category="org.foxbpm.bpmn.designer.ui.category"
            class="org.foxbpm.bpmn.designer.ui.connector.definition.ConnectorWizardCreationWizard"
            icon="icons/fox.ico"
            id="org.foxbpm.bpmn.designer.ui.wizard.createconnector"
            name="创建连接器">
      </wizard>
      <wizard
            category="org.foxbpm.bpmn.designer.ui.category"
            class="org.foxbpm.bpmn.designer.ui.wizard.FoxFlowNewWizard"
            icon="icons/fox.ico"
            id="org.foxbpm.bpmn.designer.ui.newbpmwizard"
            name="%wizard.name">
      </wizard>
      <category
            id="org.foxbpm.bpmn.designer.ui.category"
            name="FoxBPM">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.foxbpm.bpmn.designer.ui.editors.FoxBPMEditor"
            default="true"
            extensions="bpmn"
            icon="icons/fox.ico"
            id="org.foxbpm.bpmn.designer.ui.editor"
            name="%editor.name">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.foxbpm.bpmn.designer.ui.propertyContributor"
            labelProvider="org.foxbpm.bpmn.designer.ui.propertytab.FoxBPMPropertyLabelProvider"
            tabDescriptorProvider="org.foxbpm.bpmn.designer.ui.propertytab.FoxBPMTabDescriptorProvider">
         <propertyCategory
               category="BPMN"></propertyCategory>
      </propertyContributor>
   </extension>
 <extension
       point="org.eclipse.ui.commands">
    <category
          id="org.foxbpm.bpmn.designer.ui.category.connector"
          name="连接器">
    </category>
    <command
          categoryId="org.foxbpm.bpmn.designer.ui.category.connector"
          id="org.foxbpm.bpmn.designer.ui.command.createconnector"
          name="%command.createconnector.name">
    </command>
    <command
          categoryId="org.foxbpm.bpmn.designer.ui.category.connector"
          id="org.foxbpm.bpmn.designer.ui.command.editconnector"
          name="编辑连接器或选择器">
    </command>
    <command
          categoryId="org.foxbpm.bpmn.designer.ui.category.connector"
          id="org.foxbpm.bpmn.designer.ui.command.connectortest"
          name="测试连接器">
    </command>
    <command
          categoryId="org.foxbpm.bpmn.designer.ui.category.connector"
          id="org.foxbpm.bpmn.designer.ui.command.connectorimp"
          name="导入连接器">
    </command>
    <command
          categoryId="org.foxbpm.bpmn.designer.ui.category.connector"
          id="org.foxbpm.bpmn.designer.ui.command.connectorexp"
          name="导出连接器">
    </command>
    <command
          categoryId="org.foxbpm.bpmn.designer.ui.category.actor"
          id="org.foxbpm.bpmn.designer.ui.command.createactor"
          name="创建选择器">
    </command>
    <command
          categoryId="org.foxbpm.bpmn.designer.ui.category.actor"
          id="org.foxbpm.bpmn.designer.ui.command.editactor"
          name="编辑选择器">
    </command>
    <category
          id="org.foxbpm.bpmn.designer.ui.category.actor"
          name="选择器">
    </category>
    <command
          id="org.foxbpm.bpmn.designer.ui.command.processoper"
          name="流程操作">
    </command>
    <command
          id="org.foxbpm.bpmn.designer.ui.command.downloadres"
          name="同步设计器资源">
    </command>
 </extension>
 <extension
       point="org.eclipse.ui.handlers">
    <handler
          class="org.foxbpm.bpmn.designer.ui.commands.CreateConnectorHandler"
          commandId="org.foxbpm.bpmn.designer.ui.command.createconnector">
    </handler>
    <handler
          class="org.foxbpm.bpmn.designer.ui.commands.CreateActorHandler"
          commandId="org.foxbpm.bpmn.designer.ui.command.createactor">
    </handler>
    <handler
          class="org.foxbpm.bpmn.designer.ui.commands.EditConnectorHandler"
          commandId="org.foxbpm.bpmn.designer.ui.command.editconnector">
    </handler>
    <handler
          class="org.foxbpm.bpmn.designer.ui.commands.EditActorHandler"
          commandId="org.foxbpm.bpmn.designer.ui.command.editactor">
    </handler>
    <handler
          class="org.foxbpm.bpmn.designer.ui.commands.ProcessOperHandler"
          commandId="org.foxbpm.bpmn.designer.ui.command.processoper">
    </handler>
    <handler
          class="org.foxbpm.bpmn.designer.ui.commands.SynDesignerResourceHandler"
          commandId="org.foxbpm.bpmn.designer.ui.command.downloadres">
    </handler>
 </extension>
 <extension
       point="org.eclipse.ui.menus">
    <!--<menuContribution
          allPopups="false"
          locationURI="menu:org.eclipse.ui.main.menu?after=additions">
       <menu
             label="FoxBPM">
          <visibleWhen
                checkEnabled="false">
             <with
                   variable="activeWorkbenchWindow.activePerspective">
                <equals
                      value="org.foxbpm.bpmn.designer.ui.foxbpmperspective">
                </equals>
             </with>
          </visibleWhen>
          <menu
                label="连接器">
             <command
                   commandId="org.foxbpm.bpmn.designer.ui.command.createconnector"
                   label="创建连接器"
                   style="push">
             </command>
             <command
                   commandId="org.foxbpm.bpmn.designer.ui.command.editconnector"
                   label="编辑连接器"
                   style="push">
             </command>
             <separator
                   name="org.foxbpm.bpmn.designer.ui.separator"
                   visible="true">
             </separator>
             <command
                   commandId="org.foxbpm.bpmn.designer.ui.command.connectortest"
                   label="测试连接器"
                   style="push">
             </command>
             <separator
                   name="org.foxbpm.bpmn.designer.ui.separator2"
                   visible="true">
             </separator>
             <command
                   commandId="org.foxbpm.bpmn.designer.ui.command.connectorimp"
                   label="导入连接器"
                   style="push">
             </command>
             <command
                   commandId="org.foxbpm.bpmn.designer.ui.command.connectorexp"
                   label="导出连接器"
                   style="push">
             </command>
          </menu>
          <menu
                label="选择器">
             <command
                   commandId="org.foxbpm.bpmn.designer.ui.command.createactor"
                   label="创建选择器"
                   style="push">
             </command>
             <command
                   commandId="org.foxbpm.bpmn.designer.ui.command.editactor"
                   label="编辑选择器"
                   style="push">
             </command>
          </menu>
       </menu>
    </menuContribution>-->
    <menuContribution
          allPopups="false"
          locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
       <command
             commandId="org.foxbpm.bpmn.designer.ui.command.processoper"
             style="push">
       </command>
       <command
             commandId="org.foxbpm.bpmn.designer.ui.command.editconnector"
             style="push">
       </command>
    </menuContribution>
    <menuContribution
          allPopups="false"
          locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
       <toolbar
             id="org.foxbpm.bpmn.designer.ui.toolbar.synres">
          <command
                commandId="org.foxbpm.bpmn.designer.ui.command.downloadres"
                icon="icons/fox.ico"
                style="push"
                tooltip="同步设计器资源">
          </command>
       </toolbar>
    </menuContribution>
    <menuContribution
          allPopups="false"
          locationURI="menu:org.eclipse.ui.main.menu?after=additions">
    </menuContribution>
 </extension>
 <extension
       point="org.eclipse.core.expressions.propertyTesters">
    <propertyTester
          class="org.foxbpm.bpmn.designer.ui.propertytester.FoxBPMMenuPropertyTester"
          id="org.foxbpm.bpmn.designer.ui.propertyTester"
          namespace="org.foxbpm.bpmn.designer.ui"
          properties="targetRuntimeId"
          type="java.lang.Object">
    </propertyTester>
 </extension>
 <!--<extension
       point="org.eclipse.ui.perspectives">
    <perspective
          class="org.foxbpm.bpmn.designer.ui.perspectives.FoxBPMPerspective"
          icon="icons/fox_16.ico"
          id="org.foxbpm.bpmn.designer.ui.foxbpmperspective"
          name="%persperctive.name">
    </perspective>
 </extension>-->
 <extension
       point="org.eclipse.ui.views">
    <view
          category="org.foxbpm.bpmn.designer.ui.foxbpmcategory"
          class="org.foxbpm.bpmn.designer.ui.views.FoxBPMNavigatorView"
          icon="icons/fox_16.ico"
          id="org.foxbpm.bpmn.designer.ui.foxbpmview"
          name="%navigatorview.name"
          restorable="true">
    </view>
    <category
          id="org.foxbpm.bpmn.designer.ui.foxbpmcategory"
          name="%views.category">
    </category>
 </extension>
 <extension
       point="org.eclipse.ui.navigator.viewer">
    <viewer
          viewerId="org.foxbpm.bpmn.designer.ui.foxbpmview">
       <popupMenu
             allowsPlatformContributions="true"
             id="org.foxbpm.bpmn.designer.ui.popmenu">
          <insertionPoint
                name="group.new">
          </insertionPoint>
       </popupMenu>
    </viewer>
    <viewerContentBinding
          viewerId="org.foxbpm.bpmn.designer.ui.foxbpmview">
       <includes>
          <contentExtension
                pattern="org.foxbpm.bpmn.designer.ui.navigatorContent">
          </contentExtension>
          <contentExtension
                pattern="org.eclipse.ui.navigator.resources.filters.*">
          </contentExtension>
          <contentExtension
                isRoot="true"
                pattern="org.e clipse.ui.navigator.resourceContent">
          </contentExtension></includes>
    </viewerContentBinding>
    <viewerActionBinding
          viewerId="org.foxbpm.bpmn.designer.ui.foxbpmview">
       <includes>
          <actionExtension
                pattern="org.eclipse.ui.navigator.resources.*">
          </actionExtension>
          <actionExtension
                pattern="org.foxbpm.openaction.provider.*">
          </actionExtension>
       </includes>
    </viewerActionBinding>
    <dragAssistant
          class="org.foxbpm.bpmn.designer.ui.views.dragassistant.FoxBPMDragAdapterAssistant"
          viewerId="org.foxbpm.bpmn.designer.ui.dragAssistant1">
    </dragAssistant>
 </extension>
 <extension
       point="org.eclipse.ui.navigator.navigatorContent">
    <navigatorContent
          contentProvider="org.foxbpm.bpmn.designer.ui.views.FoxBPMNaviViewContentProvider"
          id="org.foxbpm.bpmn.designer.ui.navigatorContent"
          labelProvider="org.foxbpm.bpmn.designer.ui.views.FoxBPMNaviViewLabelProvider"
          name="%navigatorcontent.name">
       <triggerPoints></triggerPoints>
    </navigatorContent>
    <commonWizard
          type="import"
          wizardId="org.eclipse.ui.wizards.new.folder">
       <enablement>
          <or>
             <adapt
                   type="org.eclipse.core.resources.IFile">
             </adapt>
             <adapt
                   type="org.eclipse.core.resources.IFolder">
             </adapt>
             <adapt
                   type="org.eclipse.core.resources.IProject">
             </adapt>
             <adapt
                   type="org.eclipse.core.resources.IWorkspaceRoot">
             </adapt>
          </or></enablement>
    </commonWizard>
    <actionProvider
          class="org.foxbpm.bpmn.designer.ui.views.action.FoxBPMNaviViewActionProvider"
          id="org.foxbpm.openaction.provider">
       <enablement>
          <or>
             <adapt
                   type="org.eclipse.core.resources.IFile">
             </adapt>
          </or>
       </enablement>
    </actionProvider>
 </extension>
 <extension
       point="org.eclipse.ui.ide.projectNatureImages">
    <image
          icon="icons/fox_16.ico"
          id="org.foxbpm.bpmn.designer.ui.image"
          natureId="org.foxbpm.bpmn.designer.ui.foxbpmproject">
    </image>
 </extension>
 <extension
       point="org.codehaus.groovy.eclipse.ui.syntaxHighlightingExtension">
    <highlightingExtender
          extender="org.foxbpm.bpmn.designer.ui.expdialog.FoxBPMSyntaxHighlighting"
          natureID="org.foxbpm.bpmn.designer.ui.highlightingExtender">
    </highlightingExtender>
 </extension>
 <extension
       point="org.codehaus.groovy.eclipse.codeassist.completion.completionProposalProvider">
    <proposalProvider
          proposalProvider="org.foxbpm.bpmn.designer.ui.expdialog.FoxBPMProposalProvider">
       <appliesTo
             projectNature="org.eclipse.jdt.groovy.core.groovyNature">
       </appliesTo>
       <appliesTo
             projectNature="org.eclipse.jdt.core.javanature">
       </appliesTo>
    </proposalProvider>
 </extension>
 <extension
       point="org.codehaus.groovy.eclipse.codeassist.completion.completionProposalFilter">
    <proposalFilter
          proposalFilter="org.foxbpm.bpmn.designer.ui.expdialog.FoxBPMProposalFilter">
       <appliesTo
             projectNature="org.eclipse.jdt.groovy.core.groovyNature">
       </appliesTo>
       <appliesTo
             projectNature="org.eclipse.jdt.core.javanature">
       </appliesTo>
    </proposalFilter>
 </extension>

 <extension
       point="org.eclipse.core.runtime.preferences">
    <initializer
          class="org.foxbpm.bpmn.designer.ui.preferences.FoxBpmnPreferenceInitializer">
    </initializer>
 </extension>
 <extension
       point="org.eclipse.ui.preferencePages">
    <page
          class="org.foxbpm.bpmn.designer.ui.preferences.FoxBpmnPreferencePage"
          id="org.foxbpm.bpmn.designer.ui.preferences.FoxBpmnPreferencePage"
          name="业务流程">
    </page>
 </extension>
	<extension point="org.foxbpm.runtime">
		<runtime class="org.eclipse.bpmn2.modeler.ui.DefaultBpmn2RuntimeExtension"
			description="%runtime.description" id="org.eclipse.bpmn2.modeler.runtime.none"
			name="%runtime.name">
		</runtime>

		<model runtimeId="org.eclipse.bpmn2.modeler.runtime.none"
			uri="http://www.omg.org/spec/BPMN/20100524/MODEL-XMI"
			resourceFactory="org.eclipse.bpmn2.modeler.core.model.Bpmn2ModelerResourceFactoryImpl">
		</model>

		<!-- ======================================== -->
		<!-- ========= Default EndPoint Ext ========= -->
		<!-- ======================================== -->
		
		
		<!-- ======================================== -->
		<!-- ============  Property Tabs ============ -->
		<!-- ======================================== -->

		<toolPalette
			id="org.bpmn2.modeler.toolpalette.process.default"
			runtimeId="org.eclipse.bpmn2.modeler.runtime.none"
			type="Process" profile="foxbpm">
			
			<category
         id="org.bpmn2.modeler.toolpalette.default.categories">
   </category>
			
			
		</toolPalette>
  <modelEnablement
        profile="FOXBPM"
        runtimeId="org.foxbpm.bpmn.designer.ui.modelEnablement1"
        type="Process">
     <enable
           object="StartEvent">
     </enable>
     <enable
           object="UserTask">
     </enable>
     <enable
           object="EndEvent">
     </enable>
          <enable
           object="SequenceFlow">
     </enable>
          <enable
                object="ScriptTask">
          </enable>
          <enable
                object="ExclusiveGateway">
          </enable>
          <enable
                object="InclusiveGateway">
          </enable>
          <enable
                object="ParallelGateway">
          </enable>
          <enable
                object="Lane">
          </enable>
          <enable
                object="Association">
          </enable>
          <enable
                object="ManualTask">
          </enable>
          <enable
                object="TerminateEventDefinition">
          </enable>
          <enable
                object="TimerEventDefinition">
          </enable>
          <enable
                object="Group">
          </enable>
          <enable
                object="TextAnnotation">
          </enable>
          <enable
                object="DataAssociation">
          </enable>
          <enable
                object="SubProcess">
          </enable>
          <enable
                object="CallActivity">
          </enable>
          <enable
                object="Task">
          </enable>
          <enable
                object="BusinessTask">
          </enable>
          <enable
                object="ServiceTask">
          </enable>
          <enable
                object="SendTask">
          </enable>
          <enable
                object="ReceiveTask">
          </enable>
          <enable
                object="BoundaryEvent">
          </enable>
          <enable
                object="IntermediateCatchEvent">
          </enable>
  </modelEnablement>
  <propertyTab
        class="org.foxbpm.bpmn.designer.ui.propertytab.startevent.StartEventPropertySection"
        id="org.foxbpm.bpmn.designer.ui.propertyTab.startevent"
        label="通用">
  </propertyTab>
  <propertyTab
        class="org.foxbpm.bpmn.designer.ui.propertytab.endevent.EndEventPropertySection"
        id="org.foxbpm.bpmn.designer.ui.propertyTab.endevent"
        label="通用">
  </propertyTab>
  <propertyTab
        class="org.foxbpm.bpmn.designer.ui.propertytab.usertask.UserTaskPropertySection"
        id="org.foxbpm.bpmn.designer.ui.propertyTab.usertask"
        label="通用">
  </propertyTab>
  <propertyTab
        class="org.foxbpm.bpmn.designer.ui.propertytab.sequenceflow.SequenceFlowPropertySection"
        id="org.foxbpm.bpmn.designer.ui.propertyTab.sequenceflow"
        label="通用">
  </propertyTab>
  <propertyTab
        class="org.foxbpm.bpmn.designer.ui.propertytab.scripttask.ScriptTaskPropertySection"
        id="org.foxbpm.bpmn.designer.ui.propertyTab.scripttask"
        label="通用">
  </propertyTab>
  <propertyTab
        class="org.foxbpm.bpmn.designer.ui.propertytab.process.ProcessPropertySection"
        id="org.foxbpm.bpmn.designer.ui.propertyTab.process"
        label="通用">
  </propertyTab>
  <propertyTab
        class="org.foxbpm.bpmn.designer.ui.propertytab.parallelgateway.ParallelGatewayPropertySection"
        id="org.foxbpm.bpmn.designer.ui.propertyTab.parallelgateway"
        label="通用">
  </propertyTab>
  <propertyTab
        class="org.foxbpm.bpmn.designer.ui.propertytab.inclusivegateway.InclusiveGatewayPropertySection"
        id="org.foxbpm.bpmn.designer.ui.propertyTab.inclusivegateway"
        label="通用">
  </propertyTab>
  <propertyTab
        class="org.foxbpm.bpmn.designer.ui.propertytab.exclusivegateway.ExclusiveGatewayPropertySection"
        id="org.foxbpm.bpmn.designer.ui.propertyTab.exclusivegateway"
        label="通用">
  </propertyTab>
  <propertyTab
        class="org.foxbpm.bpmn.designer.ui.propertytab.intermediatecatchevent.IntermediateCatchEventPropertySection"
        id="org.foxbpm.bpmn.designer.ui.propertyTab.intermediatecatchevent"
        label="通用">
  </propertyTab>
  <propertyTab
        class="org.foxbpm.bpmn.designer.ui.propertytab.boundaryevent.BoundaryEventPropertySection"
        id="org.foxbpm.bpmn.designer.ui.propertyTab.boundaryevent"
        label="通用">
  </propertyTab>
  <propertyTab
        class="org.foxbpm.bpmn.designer.ui.propertytab.callactivity.CallActivityCommonPropertySection"
        id="org.foxbpm.bpmn.designer.ui.propertyTab.callactivitycommon"
        label="通用">
  </propertyTab>
  <propertyTab
        class="org.foxbpm.bpmn.designer.ui.propertytab.subprocess.SubProcessCommonPropertySection"
        id="org.foxbpm.bpmn.designer.ui.propertyTab.subprocesscommon"
        label="通用">
  </propertyTab>
  <propertyTab
        class="org.foxbpm.bpmn.designer.ui.propertytab.task.TaskCommonPropertySection"
        id="org.foxbpm.bpmn.designer.ui.propertyTab.task"
        label="通用">
  </propertyTab>
  <propertyTab
        class="org.foxbpm.bpmn.designer.ui.propertytab.manualtask.ManualTaskCommonPropertySection"
        id="org.foxbpm.bpmn.designer.ui.propertyTab.manualtask"
        label="通用">
  </propertyTab>
  <propertyTab
        class="org.foxbpm.bpmn.designer.ui.propertytab.recevietask.ReceiveTaskCommonPropertySection"
        id="org.foxbpm.bpmn.designer.ui.propertyTab.recevietask"
        label="通用">
  </propertyTab>
  <propertyTab
        class="org.foxbpm.bpmn.designer.ui.propertytab.sendtask.SendTaskCommonPropertySection"
        id="org.foxbpm.bpmn.designer.ui.propertyTab.sendtask"
        label="通用">
  </propertyTab>
  <propertyTab
        class="org.foxbpm.bpmn.designer.ui.propertytab.servicetask.ServiceTaskCommonPropertySection"
        id="org.foxbpm.bpmn.designer.ui.propertyTab.servicetask"
        label="通用">
  </propertyTab>
  <propertyTab
        class="org.foxbpm.bpmn.designer.ui.propertytab.businessruletask.BusinessRuleTaskCommonPropertySection"
        id="org.foxbpm.bpmn.designer.ui.propertyTab.businessruletask"
        label="通用">
  </propertyTab>
  <propertyTab
        class="org.foxbpm.bpmn.designer.ui.propertytab.lane.LanePropertySection"
        id="org.foxbpm.bpmn.designer.ui.propertyTab.lane"
        label="通用">
  </propertyTab>
  <!--<propertyTab
        class="org.foxbpm.bpmn.designer.ui.propertytab.callactivity.CallActivityDataMappingPropertySection"
        id="org.foxbpm.bpmn.designer.ui.propertyTab.callactivitydatamapping"
        label="数据映射">
  </propertyTab>-->
  <propertyTab
        class="org.foxbpm.bpmn.designer.ui.propertytab.usertask.ActivityAdvancedPropertySection"
        id="org.foxbpm.bpmn.designer.ui.propertytab.usertask.UserTaskAdvancedPropertySection"
        label="高级属性">
  </propertyTab>
  <propertyTab
        class="org.foxbpm.bpmn.designer.ui.propertytab.usertask.UserTaskTaskPropertySection"
        id="org.foxbpm.bpmn.designer.ui.propertytab.usertask.UserTaskTaskPropertySection"
        label="任务信息">
  </propertyTab>
  <propertyTab
        class="org.foxbpm.bpmn.designer.ui.propertytab.usertask.UserTaskFormPropertySection"
        id="org.foxbpm.bpmn.designer.ui.propertytab.usertask.UserTaskFormPropertySection"
        label="表单信息">
  </propertyTab>
  <propertyTab
        class="org.foxbpm.bpmn.designer.ui.propertytab.usertask.UserTaskJumpStrategyPropertySection"
        id="org.foxbpm.bpmn.designer.ui.propertytab.usertask.UserTaskJumpStrategyPropertySection"
        label="跳过策略">
  </propertyTab>
   <propertyTab
         class="org.foxbpm.bpmn.designer.ui.propertytab.usertask.UserTaskcommandPropertySection"
         id="org.foxbpm.bpmn.designer.ui.propertyTab.taskcommand"
         label="任务命令">
   </propertyTab>
   <propertyTab
        class="org.foxbpm.bpmn.designer.ui.propertytab.usertask.UserTaskAssignmentPropertySection"
        id="org.foxbpm.bpmn.designer.ui.propertyTab.usertaskassignment"
        label="任务分配">
  </propertyTab>
  <propertyTab
        class="org.foxbpm.bpmn.designer.ui.propertytab.actors.ActorsPropertySection"
        id="org.foxbpm.bpmn.designer.ui.propertyTab.actors"
        label="启动人">
  </propertyTab>
  <propertyTab
        class="org.foxbpm.bpmn.designer.ui.propertytab.variable.DataVariablePropertySection"
        id="org.foxbpm.bpmn.designer.ui.propertyTab.variable"
        label="数据变量">
  </propertyTab>
  <propertyTab
        class="org.foxbpm.bpmn.designer.ui.propertytab.connector.ConnectorPropertySection"
        id="org.foxbpm.bpmn.designer.ui.propertyTab.connector"
        label="连接器">
  </propertyTab>
  <propertyTab
        class="org.foxbpm.bpmn.designer.ui.propertytab.timerdefinition.TimerEventDefinitionPropertySection"
        id="org.foxbpm.bpmn.designer.ui.propertyTab.timerdefinition"
        label="时间定义">
  </propertyTab>
  <propertyTab
        class="org.foxbpm.bpmn.designer.ui.propertytab.lane.LaneAssignmentPropertySection"
        id="org.foxbpm.bpmn.designer.ui.propertyTab.laneassignment"
        label="任务分配">
  </propertyTab>
  <featureContainer
        class="org.foxbpm.bpmn.designer.ui.features.activity.task.FoxBPMUserTaskFeatureContainer"
        runtimeId="org.foxbpm.bpmn.designer.ui.featureContainer.usertask"
        type="org.eclipse.bpmn2.UserTask">
  </featureContainer>
  <featureContainer
        class="org.foxbpm.bpmn.designer.ui.features.activity.task.FoxBPMTaskFeatureContainer"
        runtimeId="org.foxbpm.bpmn.designer.ui.featureContainer.task"
        type="org.eclipse.bpmn2.Task">
  </featureContainer>
  <featureContainer
        class="org.foxbpm.bpmn.designer.ui.features.activity.task.FoxBPMManualTaskFeatureContainer"
        runtimeId="org.foxbpm.bpmn.designer.ui.featureContainer.manualtask"
        type="org.eclipse.bpmn2.ManualTask">
  </featureContainer>
  <featureContainer
        class="org.foxbpm.bpmn.designer.ui.features.activity.task.FoxBPMServiceTaskFeatureContainer"
        runtimeId="org.foxbpm.bpmn.designer.ui.featureContainer.servicetask"
        type="org.eclipse.bpmn2.ServiceTask">
  </featureContainer>
  <featureContainer
        class="org.foxbpm.bpmn.designer.ui.features.activity.task.FoxBPMBusinessRuleTaskFeatureContainer"
        runtimeId="org.foxbpm.bpmn.designer.ui.featureContainer.businessruletask"
        type="org.eclipse.bpmn2.BusinessRuleTask">
  </featureContainer>
  <featureContainer
        class="org.foxbpm.bpmn.designer.ui.features.activity.task.FoxBPMSendTaskFeatureContainer"
        runtimeId="org.foxbpm.bpmn.designer.ui.featureContainer.sendtask"
        type="org.eclipse.bpmn2.SendTask">
  </featureContainer>
  <featureContainer
        class="org.foxbpm.bpmn.designer.ui.features.activity.task.FoxBPMReceiveTaskFeatureContainer"
        runtimeId="org.foxbpm.bpmn.designer.ui.featureContainer.receivetask"
        type="org.eclipse.bpmn2.ReceiveTask">
  </featureContainer>
  <featureContainer
        class="org.foxbpm.bpmn.designer.ui.features.event.FoxBPMStartEventFeatureContainer"
        runtimeId="org.foxbpm.bpmn.designer.ui.featureContainer.startevent"
        type="org.eclipse.bpmn2.StartEvent">
  </featureContainer>
  <featureContainer
        class="org.foxbpm.bpmn.designer.ui.features.event.FoxBPMEndEventFeatureContainer"
        runtimeId="org.foxbpm.bpmn.designer.ui.featureContainer.endevent"
        type="org.eclipse.bpmn2.EndEvent">
  </featureContainer>
  <featureContainer
        class="org.foxbpm.bpmn.designer.ui.features.gateway.FoxBPMInclusiveGatewayFeatureContainer"
        runtimeId="org.foxbpm.bpmn.designer.ui.featureContainer.inclusivegateway"
        type="org.eclipse.bpmn2.InclusiveGateway">
  </featureContainer>
  <featureContainer
        class="org.foxbpm.bpmn.designer.ui.features.gateway.FoxBPMExclusiveGatewayFeatureContainer"
        runtimeId="org.foxbpm.bpmn.designer.ui.featureContainer.exclusivegateway"
        type="org.eclipse.bpmn2.ExclusiveGateway">
  </featureContainer>
  <featureContainer
        class="org.foxbpm.bpmn.designer.ui.features.gateway.FoxBPMParallelGatewayFeatureContainer"
        runtimeId="org.foxbpm.bpmn.designer.ui.featureContainer.parallelgateway"
        type="org.eclipse.bpmn2.ParallelGateway">
  </featureContainer>
  <featureContainer
        class="org.foxbpm.bpmn.designer.ui.features.activity.task.FoxBPMScriptTaskFeatureContainer"
        runtimeId="org.foxbpm.bpmn.designer.ui.featureContainer.scripttask"
        type="org.eclipse.bpmn2.ScriptTask">
  </featureContainer>
  <featureContainer
        class="org.foxbpm.bpmn.designer.ui.features.lane.FoxBPMLaneFeatureContainer"
        runtimeId="org.foxbpm.bpmn.designer.ui.featureContainer.lane"
        type="org.eclipse.bpmn2.Lane">
  </featureContainer>
  <featureContainer
        class="org.foxbpm.bpmn.designer.ui.features.activity.subprocess.FoxBPMCallActivityFeatureContainer"
        runtimeId="org.foxbpm.bpmn.designer.ui.featureContainer.callactivity"
        type="org.eclipse.bpmn2.CallActivity">
  </featureContainer>
  <featureContainer
        class="org.foxbpm.bpmn.designer.ui.features.activity.subprocess.FoxBPMSubProcessFeatureContainer"
        runtimeId="org.foxbpm.bpmn.designer.ui.featureContainer.subprocess"
        type="org.eclipse.bpmn2.SubProcess">
  </featureContainer>
  <featureContainer
        class="org.foxbpm.bpmn.designer.ui.features.event.definitions.FoxBPMBoundaryEventFeatureContainer"
        runtimeId="org.foxbpm.bpmn.designer.ui.featureContainer.boundaryevent"
        type="org.eclipse.bpmn2.BoundaryEvent">
  </featureContainer>
  <featureContainer
        class="org.foxbpm.bpmn.designer.ui.features.event.FoxBPMIntermediateCatchEventFeatureContainer"
        runtimeId="org.foxbpm.bpmn.designer.ui.featureContainer.intermediatecatchEvent"
        type="org.eclipse.bpmn2.IntermediateCatchEvent">
  </featureContainer>

		<!-- ======================================== -->
		<!-- ===  Model Enablements and Profiles ==== -->
		<!-- ======================================== -->





</extension>
</plugin>
