<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated foxbpmconfig -->
      <package
            uri="http://www.foxbpm.org/foxbpmconfig"
            class="org.foxbpm.model.config.foxbpmconfig.FoxBPMConfigPackage"
            genModel="model/foxbpmconfig.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated foxbpmconfig -->
      <parser
            type="foxbpmconfig"
            class="org.foxbpm.model.config.foxbpmconfig.util.FoxBPMConfigResourceFactoryImpl"/>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated foxbpmconnector -->
      <package
            uri="http://www.foxbpm.org/connector"
            class="org.foxbpm.model.config.connector.ConnectorPackage"
            genModel="model/foxbpmconnector.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated foxbpmconnector -->
      <parser
            type="connector"
            class="org.foxbpm.model.config.connector.util.ConnectorResourceFactoryImpl"/>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated foxbpmconnectormenu -->
      <package
            uri="http://www.foxbpm.org/connectormenu"
            class="org.foxbpm.model.config.connectormenu.ConnectormenuPackage"
            genModel="model/foxbpmconnectormenu.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated foxbpmconnectormenu -->
      <parser
            type="connectormenu"
            class="org.foxbpm.model.config.connectormenu.util.ConnectormenuResourceFactoryImpl"/>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated foxbpmstyle -->
      <package
            uri="http://www.foxbpm.org/style"
            class="org.foxbpm.model.config.style.StylePackage"
            genModel="model/foxbpmstyle.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated foxbpmstyle -->
      <parser
            type="style"
            class="org.foxbpm.model.config.style.util.StyleResourceFactoryImpl"/>
   </extension>
</plugin>
